//////////////////////////////////////BMJ-vin mise en page

//couleur texte (#fff1e6)
//couleur fond-site (rouge) (#640D14)
//couleur fond-site (gris) (#2F2927)
//couleur Nav-bar (#38040E)
//background-color derierre le logo transparant (#FFFFF)

//////////////////////////////////////PAGE Acceil

body{
    background-color: #640D14; //couleur de fond site 
}
.navbar-top {
    background-color:#38040E;
    
}

.navbar-bottom {
    background-color:#38040E;
    
}
//Liste a puces Nav-Bar(top/bottom) 
li{
    list-style-type:none;
    float:left 5em;
    display: inline block;
    font-family: 'Open Sans', sans-serif; //<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    font-size: ;
}

//////////////////////////////////////IMAGE PAGE D'ACCEIL


.pictureacceuil {
    background-image: url(/assets/images/red-wine-2443699.jpg); // DeuxVerreDeVinsRougesCheminée
    background-size: cover;
}
.vinsrouges {
    background-image: url(/assets/images/ProduitVinsRouges.jpg); // UnVerreDeVinRouge
    background-size: cover;
}
.vinsblancs{
    background-image: url(/assets/images/ProduitVinsBlancs.jpg);// DeuxVerresDeVinsBlancs
    background-size: cover;
}
.vinsrosées {
    background-image: url(/assets/images/ProduitsVinsRosées.jpg);// DeuxVerresDeVinsRosées
    background-size: cover;
}
.bulles {
    background-image: url(/assets/images/ProduitsVinsBulles.jpg);// UnVerreDeBulles
    background-size: cover;
}
.picturebernard {
    background-image: url(/assets/images/PictureBernard.jpg);// GoulotsDeBouteilleDeVins
    background-size: cover;
}
.picturecontact {
    background-image: url(/assets/images/PictureContact.jpg);//CaveÀVins
}

//////////////////////////////////////IMAGE page Présentation

.picurepresentation {
    background-image: url(/assets/images/Namur\ -\ L\ Ile\ Vas-t\ y\ frotte.jpg); // ou // url(/assets/images/Namur\ -\ Vieilles\ Maisons\ sur\ la\ Sambre.jpg) //Photo en attente // ViellePhotoDeNamur
    background-size: cover;
}
//signature
.sign {
    background-image: url(/assets/images/SignatureBlanc.svg); // SignatureClientBlanc (existe aussi en noir) 
    text-align: ;
    width: auto
    height: ;
}

//////////////////////////////////////IMAGE PAGE Contact

//IMAGE PAGE Produit 
.logoR {
    background-image: url(/assets/images/ProduitVinsRouges.jpg); // VerreDeVinRouge
    width: ;
    height: ;
}
.logoB {
    background-image: url(/assets/images/ProduitVinsBlancs.jpg); // VerreDeVinBlanc
    width: ;
    height: ;
}
.logoRs {
    background-image: url(/assets/images/ProduitsVinsRosées.jpg); // VerreDeVinRosées
    width: ;
    height: ;
}
.logobulles {
    background-image: url(/assets/images/ProduitsVinsBulles.jpg); // VerreDeBulles
    width: ;
    height: ;
}


//logo fond transparant
.logo {
    background-image: url(/assets/images/LogoVectoTotal.svg);// LogoSvg
    .fond{
    background-color: #ffffff;
    margin-block: ;
    text-align: ;
    }

}

//////////////////////////////////////TEXTE

.p {
    color: #fff1e6;
    font-size: ;
    font-family: 'Open Sans', sans-serif; //<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

}

//titre NOS PRODUITS 
.h1{
    font-family: font-family: 'Nanum Myeongjo', serif; //<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    color: #fff1e6;
    text-align:center;
    font-size:;
}
//sous-titre clasification 
.h4 {
    li{
        list-style-type:none;
        float:left 5em;
        display: inline block;
        font-family: 'Nanum Myeongjo', serif; //<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        border-radius: width: 50px height:120px border: 2px solid #fffle6;
        font-size: ;
        
    }
}
//sous-titre BERNARD WAUCQUEZ 
.h2{
    font-family:font-family: 'Nanum Myeongjo', serif; //<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    color: #fff1e6;
    text-align:;
    font-size:;
}
//sous-titre texte BERNARD WAUCQUEZ 
.paragraphe {
    .SousParagraphe {
    font-family: 'Open Sans', sans-serif; //<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    color: #fff1e6;
    text-align: ;
    font-size: ;
}
}
//sous-titre CONTACT 
.h3{
    font-family:font-family: 'Nanum Myeongjo', serif;//<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet"> 
    color:#fff1e6;
    text-align:;
    font-size:;
}

////////////////////////////////////FUNCTION

//button à votre services 
.buttonContact {
    border-radius: width: 50px height:120px border: 2px solid #fffle6;
    color:#fffle6; 
    font-family: 'Nanum Myeongjo', serif; //<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    font-size:;
}



