//BMJ-vin mise en page
.navbartop{
    background-color:#38040E;
    font-family: ;
    

}

li{
    list-style-type:none;
    float:left;
}

.navbarbottom {
    background-color:#38040E;
    font-family: ;
    
}
